.setup-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 80%;

	margin-block: var(--spacing-xxxxl);
	padding: var(--spacing-xxxl);

	background-color: var(--sidebar-bg-color);
	border-radius: 10px;

	scroll-snap-align: center;
}

.setup-h1 {
	font: var(--setup-h1);
}

.setup-table {
	color: var(--light-color);
	text-align: center;
	width: 100%;
}

.setup-table thead > tr > th {
	font: bold 1.6rem/2.4em var(--ff);
	color: var(--detail-color);
}

.setup-table tbody > tr > td {
	color: white;
	font: 1.2rem/2.6em var(--ff);
	text-align: center;
}
