.boss-progression--button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: var(--spacing-xl);

	width: 20rem;
	height: 20rem;

	margin: var(--spacing-xxl);

	font: var(--boss-prog-font);
	text-align: center;
	text-decoration: none;

	border: none;
	border-radius: 20px;

	background-color: var(--detail-color);
	color: white;
}

.boss-progression--button:hover {
	color: var(--sidebar-bg-color);
	cursor: pointer;
}

.boss-progression--side-button {
	width: 4rem;
	height: 4rem;

	margin: var(--spacing-xl);

	border: none;
	border-radius: 20px;

	/* background-color: var(--dark-color-90); */
	background-color: var(--detail-color);

	font-size: 0;
}
