* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Spacing Distances */
	--spacing-xss: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-s: 0.75rem;
	--spacing-m: 1rem;
	--spacing-l: 1.25rem;
	--spacing-xl: 1.75rem;
	--spacing-xxl: 2.5rem;
	--spacing-xxxl: 5.5rem;
	--spacing-xxxxl: 10rem;

	/* Colors */
	--dark-color: #370617;
	--dark-color-90: #730d30;
	--dark-color-80: #45081d;
	--dark-color-70: #ed5e90;

	--sidebar-bg-color: #260101;
	/* --light-color: #f2e8cf; */
	--light-color: #fce8ef;
	--detail-color: #bf0603;

	/* Fonts */
	font-size: 20px;

	--ff: "Helvetica", sans-serif;
	--h1-font: bold 4rem/1em var(--ff);
	--h2-font: bold 3.5rem/1.2em var(--ff);
	--p-font: 1.5rem/2em var(--ff);

	--class-link-font: bold 1rem/4rem var(--ff);

	/* Class Setup Fonts */

	--boss-prog-font: bold 3rem/2em var(--ff);
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100vw;

	background-color: var(--dark-color);
}

/* Headings */

h1 {
	color: var(--light-color);
	font: var(--h1-font);
}

h2 {
	color: var(--detail-color);
	font: var(--h2-font);

	margin: var(--spacing-xxl);
}

p {
	color: var(--light-color);
	font: var(--p-font);
}
